OPENAI_API_KEY=
ANTHROPIC_API_KEY=
TAVILY_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=llm-jacky
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com

WORDPRESS_URL=
WORDPRESS_USERNAME=
WORDPRESS_APP_PASSWORD=
